body{
    margin: 0;
    align-items: center;
    color: white;
    background-color: #353637;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 40px;
}

.app {
    width: 85%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: normal;
}

.top-bar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 5%;
    width: 100%;
} 

.bot-logo {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 10px;
}

.bot-logo-image {
    background-image: url(res/wikibotlogo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    outline-style: hidden;
}

.bot-logo-text {
    line-height: 50px;
    vertical-align: middle;
    font-size: 25px;
}

.main-content {
    padding-top: 40px;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    align-items: center;
}

.demo-pic {
    width: 50%;
}

.demo-pic-img {
    max-height: 95%;
    max-width: 95%;
    margin-right: 5%;
}

.summary-text {
    width: 50%;
}

.invite-button {
    background-color: rgb(40, 47, 49);
    height: fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 10px;
}

.invite-link {
    text-decoration: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
}

.discord-logo {
    background-image: url(res/discordlogo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 42px;
    height: 42px;
    width: 42px;
    margin-right: 15px;
    outline-style: hidden;
}

.invite-text {
    margin-top: auto;
    margin-bottom: auto;
    line-height: 42px;
    vertical-align: middle;
    font-size: 30px;
    color: white;
}